/* Loaing */
.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #222;
  z-index: 9999;
}

.loading {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: rgb(255, 255, 255);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
  }

  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
  }

  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
  }

  100% {
    -webkit-transform: rotate(-360deg)
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* Loaing */



.text-p {
  color: #253237 !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background-color: #F2E9E4;
}

a:hover {
  color: #9DB4C0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #9DB4C0;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 10;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #253237;
  transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 20;
  transition: all 0.5s;
  padding: 0 15px;
  background: #253237;
  overflow-y: auto;
}

/* remove header scrollbar */
#header::-webkit-scrollbar {
  display: none;
}

#header {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* remove header scrollbar */

#header .profile {
  margin-top: 24px;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #9DB4C0;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active>a i,
.nav-menu li:hover>a i {
  color: #9DB4C0;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 5px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #9DB4C0;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #253237;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/IMG_2908.jpg") center center;
  background-size: cover;
  overflow: hidden;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);

  z-index: 2;
  min-width: 300px;
}

#hero h2 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 8px;
  color: #fff;
}

#hero h3 {
  font-size: 36px;
  color: #fff;
}

#hero p {
  color: #fff;
  font-size: 26px;
  line-height: 2;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #accfdd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media(max-width: 1400px) {
  #hero .hero-container {
    left: 52%;
  }
}

@media(max-width: 992px) {
  #hero .hero-container {
    right: -10%;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero p {
    font-size: 16px;
  }

  #hero .hero-container {
    right: -5%;
    bottom: -10%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.svg-position {
  position: absolute;
  bottom: -15%;
  z-index: 1;
}

.section-bg {
  background: #5C6B73;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #253237;
}

.section-p {
  font-size: 20px;
  line-height: 2;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #253237;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #253237;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #253237;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
  margin: 10px 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  display: block;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  border-radius: 10px;
  overflow: hidden;
}

.skills .progress-bar {
  width: 1px;
  height: 15px;
  transition: .9s;
  background: linear-gradient(44deg, #173642 38%, #054745 98%);
  background: -moz-linear-gradient(44deg, #173642 38%, #054745 98%);
  background: -webkit-linear-gradient(44deg, #173642 38%, #054745 98%);
  background: -o-linear-gradient(44deg, #173642 38%, #054745 98%);
}

.skills .progress-text {
  color: #fff;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #253237;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #F2E9E4;
  border: 2px solid #253237;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 50px 0;
  border: 5px dashed white;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 45px;
  color: #ffffff;
  width: 60px;
  height: 60px;
  background: #ffffff4f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ffffff;
}

.contact .info p {
  font-size: 20px;
  color: #ffffff;
}

.contact .info .email p {
  padding-top: 5px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 15;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

@media (max-width: 768px) {
  .wix {
    margin-top: -100px;
  }
}

.wix-content {
  border: none;
}


/* #hero scroll */

.mouse-wrap {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

/* @media (max-width: 576px) {
  .mouse-wrap {
    bottom: 5%;
  }
}

@media (max-width: 374px) {
  .mouse-wrap {
    bottom: 5%;
  }
} */

.mouse {
  width: 26px;
  height: 42px;
  border: 2px solid #FAFAFA;
  border-radius: 24px;
  cursor: pointer;
  z-index: 3;
}

.mouse:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -2px;
  background-color: #FAFAFA;
  border-radius: 100%;
  width: 4px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  -webkit-animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@-webkit-keyframes scroll {

  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }

  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

@keyframes scroll {

  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }

  10% {
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    opacity: 0.01;
  }
}

/* #hero scroll */

/* Mouse Theme */
.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #253237;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #253237;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
}

a:hover~.cursor {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #253237;
  opacity: .5;
}

a:hover~.cursor2 {
  opacity: 0;
}

/* Mouse Theme */


/* scrollbar theme */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scrollbar theme */




.badge {
  position: relative;
  margin: 1.5em 3em;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
}

.badge:before,
.badge:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.badge:before {
  transform: rotate(60deg);
}

.badge:after {
  transform: rotate(-60deg);
}

.badge:hover {
  top: -4px;
}

.badge .circle {
  width: 60px;
  height: 60px;
  position: absolute;
  background: #fff;
  z-index: 10;
  border-radius: 50%;
  top: 0px;
  left: -6px;
  right: 0;
  bottom: 0;
  margin: auto;
}

.badge .circle img {
  margin-top: 5px;
  width: 35px;
  height: auto;
}

.badge .circle i.fa {
  font-size: 2em;
  margin-top: 8px;
}

.badge .font {
  display: inline-block;
  margin-top: 1em;
}

.badge .ribbon {
  position: absolute;
  border-radius: 4px;
  padding: 5px 5px 4px;
  width: 100px;
  z-index: 11;
  color: #fff;
  bottom: 12px;
  left: 58%;
  margin-left: -55px;
  height: 24px;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background: linear-gradient(to bottom right, #555 0%, #333 100%);
  cursor: default;
}

.html {
  background: linear-gradient(to bottom right, #e34c26 0%, #a33100 100%);
  color: #e34c26;
}

.css {
  background: linear-gradient(to bottom right, #264de4 0%, #001155 100%);
  color: #264de4;
}

.javascript {
  background: linear-gradient(to bottom right, #efd81d 0%, #968609 100%);
  color: #efd81d;
}

.jquery {
  background: linear-gradient(to bottom right, #0769ad 0%, #073d65 100%);
  color: #0769ad;
}

.bootstrap {
  background: linear-gradient(to bottom right, #563d7c 0%, #412a62 100%);
  color: #563d7c;
}

.vue {
  background: linear-gradient(to bottom right, #41B883 0%, #34495E 100%);
  color: #41B883;
}

.xd {
  background: linear-gradient(to bottom right, #450135 0%, #bb0a92 100%);
  color: #450135;
}

.figma {
  background: linear-gradient(to bottom right, #9d56f7 0%, #f75656 100%);
  color: #9d56f7;
}

.photoshop {
  background: linear-gradient(to bottom right, #001d34 0%, #2ea3f7 100%);
  color: #001d34;
}

.illustrator {
  background: linear-gradient(to bottom right, #320100 0%, #f69400 100%);
  color: #320100;
}